.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 22px;
    margin: 20px;
}

.reset-button {
    margin: 20px;
    height: 50px;
}
